.PokemonWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  text-align: center;
}

.PokemonWrapper,
.Pagination {
  max-width: 500px;
  margin: auto;
}

.PokemonName {
  font-weight: bold;
  margin-top: 10px;
}

.Pagination {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

button {
  margin: 20px auto;
  height: 30px;
  display: block;
  font-weight: bold;
  width: 130px;
  cursor: pointer;
}
